.zui-label {
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  margin-right: 20px;
  background: #6AC2B5;
  position: relative;
  display: inline-block;
  .zui-label-triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #6AC2B5;
    border-bottom: 20px solid transparent;
    right: -20px;
    top: 0;
    position: absolute;
  }
}

@media (max-width: 420px) {
  .zui-label{
    line-height: 25px;
    padding: 0 10px;
    min-width: 85px;
    .zui-label-triangle{
      border-top: 11px solid transparent;
      border-left: 12px solid #6AC2B5;
      border-bottom: 15px solid transparent;
      right: -11px;
    }
  }
}
